@model ExchangeRates.Models.ExchangeRatesVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Rate", "ExchangeRate", FormMethod.Post, new { @class = "navbar-form" }))
{
    <h4>Exchange Rate</h4>
    <fieldset class="form-horizontal">
        <div>
            @Html.LabelFor(m => m.StartDate)
            @Html.EditorFor(m => m.StartDate)
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <div>
            @Html.LabelFor(m => m.EndDate)
            @Html.EditorFor(m => m.EndDate)
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </fieldset>
    @Html.ValidationSummary(true)
    <button type="submit" class="btn">Show</button>
}